/* <!--------------------- topheader section start -----------------------> */

.topheader {
  background-color: #f05a22;
  padding: 7px 50px;
  font-size: 13px;
  text-align: center;
  color: white;
}

.topheader span {
  background-color: black;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 10px;
}

.topheader label {
  font-weight: 300;
}

.topheader i {
  float: right;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {

  .topheader {
      padding: 7px 25px 7px 20px;
  }
  
  .topheader i {
      line-height: 0px;
      transform: translateY(-10px);
  }   

}

/* <!--------------------- topheader section end -------------------------> */


/* <!--------------------- navbar section start --------------------------> */

.navbarsection {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
}

.navbar_logosection img {
  width: 90px;
}

.navbar_inputsection {
  display: flex;
  margin-top: 13px;
  position: relative;
  margin-left: 100px;
}

.navbarcategory_subsection {
  position: absolute;
  background-color: #e9e9e9;
  z-index: 9999;
  top: 60px;
  display: none;
  opacity: 0;
  border-top: 1px solid #f05a22;
  border-bottom: 2px solid #f05a22;
}

.navbar_inputsection:hover .navbarcategory_subsection {
  position: absolute;
  background-color: #e9e9e9;
  z-index: 9999;
  top: 35px;
  display: block;
  opacity: 1;
  transition-duration: 1s;
  border-top: 1px solid #f05a22;
  border-bottom: 2px solid #f05a22;
}

.navbarcategory_subsection li {
  list-style: none;
  padding: 8px 50px 8px 20px;
  border-top: 1px solid #f05a22;
  font-size: 14px;
}

.navbarcategory_subsection li:hover {
  padding: 8px 50px 8px 20px;
  border-top: 1px solid #f05a22;
  background-color: #f05a22;
  color: white;
  transition-duration: .3s;
  font-size: 14px;
}

.navbar_inputfirst {
  line-height: 32px;
}

.navbar_inputfirst span {
  background-color: #e9e9e9;
  font-size: 14px;
  padding: 7.5px 20px 8px 20px;
  border-right: 1px solid rgb(188, 188, 188);
}

.navbar_inputfirst span i {
  margin-left: 20px;
}

.navbar_inputsecond input {
  background-color: #e9e9e9;
  border: none;
  border-radius: 0px;
  padding: 5px 15px;
  width: 350px;
}

.navbar_inputsecond input:focus {
  background-color: #e9e9e9;
  border: none;
  border-radius: 0px;
  padding: 5px 15px;
  outline: none;
  width: 350px;
}



.navbar_inputsecond span {
  background-color: #6cbf7b;
  color: white;
  padding: 6px 8px;
}

.navbar_rightsection {
  display: flex;
  font-weight: 400;
  margin-top: 13px;
  font-size: 16px;
}

.navbar_rightsection i {
  font-weight: 600;
  margin-right: 5px;
}

.navbar_rightsection_second {
  margin: 0px 30px;
}

@media only screen and (max-width: 600px) {

  .navbarsection {
      display: block;
      padding: 10px 20px;

  }
  
  .navbar_inputsection {
      display: flex;
      margin-top: 15px;
      margin-left: 00px;
      width: 100%;
  }
  
  .navbar_inputfirst {
      display: none;    
  }

  .navbar_inputsecond{
width: 100%;}

  .navbar_inputsecond input {
      background-color: #e9e9e9;
      border: none;
      border-radius: 0px;
      padding: 5px 15px;
      width: 100%;
  }
  
  .navbar_inputsecond span {
      background-color: #6cbf7b;
      color: white;
      position: absolute;
      right: -5px;
      top: 0;
      padding: 6px 8px 4px 8px;
  }
  
  .navbar_rightsection {
      display: none;
  }    

}


/* <!--------------------- navbar section end ----------------------------> */

/* <!--------------------- menu section start ----------------------------> */

.menusection {
  background-color: black;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  padding: 12px 50px;
}

.menu_content li {
  display: inline;
  margin-right: 25px;
  padding: 12.5px 10px;
}

.menu_content {
  transform: translateY(.4px);
}

.menu_content li:nth-child(1) {
  background-color: #f05a22;
}

.menu_content li:hover {
  background-color: #f05a22;
}

.carousel-item img {
  height: 380px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .menusection{
      display: none;
  }

  .carousel-item img {
      height: 250px;
  }

}

/* <!--------------------- menu section end ------------------------------> */

/* <!--------------------- first section start --------------------------------> */

.section_first {
  background-color: #e5e5e6;
  padding: 50px;
}

.sectionfirst_left_card_image img {
  width: 100%;
  margin-bottom: 2px;
  height: 100%;

}

.sectionfirst_left_card_image {
  height: 100px;
  position: relative;
  overflow: hidden;
}

.sectionfirst_left_card_image img:hover {
  scale: 1.1;
  transition-duration: .5s;
}

.sectionfirst_left_card_title {
  text-align: center;
  font-size: 12px;
}


.sectionfirst_left_one {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
}

.sectionfirst_left_one_title {
  color: #605f5f;
  font-size: 14px;
}

.sectionfirst_left_one_title label {
  font-size: 15px;
  font-weight: 600;
}


.sectionfirst_left_card {
  margin-top: 10px;
}

.sectionfirst_right {
  background-color: white;
  margin-top: 20px;
  padding: 10px 30px 40px 30px;
}

.sectionfirst_right_title {
  font-size: 20px;
  font-weight: 600;
  color: #5E5C5C;
}

.sectionfirst_right_card {
  margin-top: 15px;
}

.sectionfirst_right_card_image {
  position: relative;
  overflow: hidden;
  height: 180px;
}

.sectionfirst_right_card_image img {
  width: 100%;
}

.sectionfirst_right_card_content {
  padding: 10px 5px;
}

.sectionfirst_right_card_content_title {
  font-size: 14px;
  font-weight: 600;
  color: #5E5C5C;
}

.sectionfirst_right_card_content_price {
  font-size: 14px;
  font-weight: 600;
  color: #5E5C5C;
}

.sectionfirst_right_card_content_price span {
  color: #f05a22;
}


@media only screen and (max-width: 600px) {

  .section_first {
      padding: 20px 10px;
  }
  
  .sectionfirst_left_card_image img {
      width: 100%;
      margin-bottom: 2px;
      height: 100%;
  }

}

/* <!--------------------- first section end ----------------------------------> */

/* <!--------------------- second section start ----------------------------------> */

.sectionsecond {
  background-color: #e5e5e6;
}

.secondsection_image img {
  width: 100%;
  height: 300px;
}

/* <!--------------------- second section end ------------------------------------> */

/* <!--------------------- third section start ----------------------------------> */

.sectionthird {
  background-color: #e5e5e6;
  padding-top: 50px;
}

.thirdsection_image img {
  width: 100%;
  height: 300px;
}

/* <!--------------------- third section end ------------------------------------> */

/* <!--------------------- forth section start ------------------------------------> */

.sectionforth {
  background-color: #e5e5e6;
  padding: 50px 0px;
}

.sectionforth_leftimage {
  position: relative;
}

.sectionforth_leftimage img {
  width: 100%;
}

.sectionforth_rightimage img {
  height: 434px;
}

@media only screen and (max-width: 600px) {

  .sectionforth_rightimage img {
      height: 250px;
      margin-top: 40px;
  }   

}

/* <!--------------------- forth section end --------------------------------------> */


/* <!--------------------- fifth section start ------------------------------------> */

.section_fifth {
  background-color: #e5e5e6;
  padding-bottom: 50px;
}

.sectionfifth_card {
  background-color: white;
  padding: 30px 50px;
}


.sectionfifth_firstcard_image {
  position: relative;
  height: 150px;
  overflow: hidden;
}


.sectionfifth_firstcard_image img {
  width: 100%;
}

.sectionfifth_firstcard_image img:hover {
  transform: scale(1.1);
  transition-duration: .4s;
}

.sectionfifth_card_title {
  font-size: 24px;
  font-weight: 600;
  color: #5E5C5C;
}

.sectionfifth_firstcard {
  margin-top: 20px;
  border: 1px solid #d4d4d4;
  padding: 10px;
}

.sectionfifth_firstcard_title {
  padding: 20px 0px 00px 0px;
  text-align: center;
  color: #5E5C5C;
  font-weight: 600;
}

.sectionfifth_firstcard_price {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #5E5C5C;
}

.sectionfifth_firstcard_price span {
  color: #f05a22;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}


@media only screen and (max-width: 600px) {
  
  .sectionfifth_card {
      background-color: white;
      padding: 20px;
  }   

}

/* <!--------------------- fifth section end --------------------------------------> */

/* <!--------------------- sixth section start ------------------------------------> */

.section_sixth {
  background-color: #e5e5e6;
  padding-bottom: 50px;
}

.sectionsixth_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sectionsixth_content {
  color: #5E5C5C;
  word-spacing: 5px;
  font-size: 14px;
}


/* <!--------------------- sixth section end --------------------------------------> */

/* <!--------------------- footer section start -----------------------------------> */

.footersection {
  background-color: black;
  padding: 50px 0px 0px 0px;
}

.footer_first_title,
.footer_second_title,
.footer_third_title,
.footer_forth_title {
  color: #908e8e;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer_first_content p {
  color: rgb(201, 200, 200);
  font-size: 14px;
  padding: 0px 50px 0px 0px;
  text-align: justify;
}


.footer_secnod_content,
.footer_third_content,
.footer_forth_content {
  list-style: none;
  font-size: 14px;
  color: rgb(201, 200, 200);
}



.footer_secnod_content li:hover {
  color: #f05a22;
  transition-duration: .3s;
  cursor: pointer;
}

.footer_third_content li:hover {
  color: #f05a22;
  transition-duration: .3s;
  cursor: pointer;
}

.footer_forth_content li:hover {
  color: #f05a22;
  transition-duration: .3s;
  cursor: pointer;
}

.footer_secnod_content li {
  padding: 3px 0px;
}

.footer_third_content li {
  padding: 3px 0px;
}

.footer_forth_content li {
  padding: 3px 0px;
}

.footer_image {
  overflow: hidden;
  position: relative;
  margin: 10px 0px 30px 0px;
}

.footer_image img {
  width: 100%;
}

.subfootersection {
  border-top: 1px solid rgb(111, 111, 111);
  display: flex;
  padding: 15px 0px 20px 0px;
  font-size: 14px;
}

.subfooter_first {
  color: #878484;
  display: flex;
}

.subfooter_second {
  color: #878484;
  margin-left: 7%;
  display: flex;
}

.subfooter_third {
  color: #878484;
  margin-left: 7%;
}

.subfooter_forth {
  margin-left: 30%;
  color: white;
}

.subfooter_forth span {
  color: #ecc62d;
}

.subfooter_third {
  display: flex;
}

.subfooter_third_second {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {

  .footer_forth_title{margin-top: 40px;}


  .subfootersection {
      display: block;
      padding: 15px 10px 20px 10px;
      font-size: 14px;
  }
  
  .subfooter_first {
      color: #878484;
      display: flex;
      margin-bottom: 10px;
  }
  
  .subfooter_second {
      color: #878484;
      margin-left: 0%;
      display: flex;
      margin-bottom: 10px;
  }
  
  .subfooter_third {
      color: #878484;
      margin-left: 0%;
      margin-bottom: 10px;
  }
  
  .subfooter_forth {
      text-align: center;
      margin-left: 0%;
      color: white;
      border-top: 1px solid grey;
      margin-top: 20px;
      padding-top: 10px;
  }
  
  .subfooter_forth span {
      color: #ecc62d;
  }
  
  .subfooter_third {
      display: flex;
  }
  
  .subfooter_third_second {
      margin-left: 10px;
  }
  

}

/* <!--------------------- footer section end -------------------------------------> */